body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  background: #595959;
  height: 300px;
  width: 400px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stage {
  height: 75px;
  display: flex;
  align-items: center;
}

#stageText {
  font-size: 40px;
  color: #dec022;
}

.timer {
  height: 125px;
}

#time {
  font-size: 100px;
  color: #dec022;
}

.controls {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls button {
  border: none;
  color: #595959;
  width: 150px;
  height: 60px;
  border-radius: 35px;
  font-size: 40px;
}

.controls button:focus {
  outline: 0;
}

.controls #start {
  background: #dec022;
}

.controls #start:active {
  background: #eada87;
}

.controls #pause {
  background: #f96262;
}

.controls #pause:active {
  background: #fd9191;
}
